
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: lighter;
}

.menu{
  display: flex;
  height: 3rem;
  width: 100%;
  justify-content: space-evenly;
  background-color: #0054A6;
  color: white;
}

.menu_link{
  margin-top: 1rem;
  margin-right: -1rem;
  cursor: pointer;
}

.menu_link:hover{
  opacity: .80;
}

.icon_logout{
  width: 24px;
  height: 24px;
  margin-top: .7rem;
  margin-right: -20rem;
  color: white;
  cursor: pointer;
}

.main_dash {
  background-color: white;
  width: 100%;
  height: 85.1vh;
  display: flex;
  flex-direction: column;
}

.title_dash{
  display: flex;
  height: 50px;
  width: 95%;
  font-size: 24px;
  margin: 10px 3rem;
  margin-top: 3rem;
}

.pipe{
  background-color: #1930FF;
  height: 100%;
  width: 3px;
  margin-right: .5rem;
}

.title_dash .titles{
  width: 35rem;
}

.title_dash h1{
  font-size: 30px
}

.title_dash h3{
  color: #595959;
  font-size: 14px;
}

.title_dash input{
  margin-left: 22%;
  width: 22.5rem;
  height: 2.3rem;
  margin-top: .55rem;
  padding-left: 10px;
  background: #EFEFEF;
  opacity: 0.78;
  border: 1px solid #686868;
  border-radius: 7px;
}

.container-receitas{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 65%;
  width: 99%;
}

.container-receitas::-webkit-scrollbar{
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

.container-receitas::-webkit-scrollbar-thumb{
background: #868686;
}